{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
<div class="container">
    <div class="row clearfix">
        {% for graduate in graduate_list %}
        <div class="col-xl-3 col-lg-4 col-sm-6 g_box" style="">
            <div>
                <div class="card"  style="height: 280px;">
                    <div class="panel-heading">
                        <h3 class="card-header">{{graduate.name}}</h3>
                    </div>
                    <div class="card-body">
                        <div>
                            <span class="g_label" style="padding-left: 28px;">专业：</span>
                            <span class="g_info">{{graduate.profession}}</span>
                        </div>
                        <div>
                            <span class="g_label">所属院系：</span>
                            <span class="g_info">{{graduate.facuty}}</span>
                        </div>
                        <div>
                            <span class="g_label">毕业时间：</span>
                            <span class="g_info">{{graduate.graduate_year}} 年</span>
                        </div>
                        <div>
                            <span class="g_label">工作地点：</span>
                            <span class="g_info">{{graduate.work_place}}</span>
                        </div>
                        <div>
                            <span class="g_label">所属行业：</span>
                            <span class="g_info">{{graduate.industry}}</span>
                        </div>
                        <div>
                            <span class="g_label">联系电话：</span>
                            <span class="g_info">{{graduate.tel_number}}</span>
                        </div>
                        <div>
                            <span class="g_label">网络联系：</span>
                            <span class="g_info">{{graduate.net_contact}}</span>
                        </div>
                        <div>
                            <span class="g_label">留言：</span>
                            <span class="g_info">{{graduate.message}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>
</div>
{% endblock main %}