{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="page-header edit_header">
    <h1>设置</h1>
</div>

<div class="row edit">
    <div class="col-md-3 border edit_nav">
        {% for key,value in request.session.items %}
            {% if key == 'user_it' %}
            {% include 'users/_edit_nav.html' %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-9 edit_profile">
        <div class="card bg-light">
            <!--<h3 class="card-header">修改基本信息</h3>-->
            <div class="card-body">
                <h1>{% trans "Change Password" %}</h1>

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change form">
                    {% csrf_token %}
                    <!--{{ form.as_p }}-->
                    {% for field in form %}
                        <div class="form-group w-75">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:'form-control' }}
                            {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button type="submit" name="action" class="btn">{% trans "Change Password" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
