{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
<div class="container">
    {% for post in post_list %}
    <div class="row clearfix">
        <!--发文人头像和时间信息-->
        <div class="col-lg-offset-1 col-xs-2 col-lg-1">
            <img src="{% static 'img/touxiang1.jpg' %}" class="img-responsive img-circle" alt="Cinque Terre">
            <span>{{ post.created_time }}</span>
        </div>
        <!--文章内容主体-->
        <div class="col-xs-10 col-lg-8">
            <div class="panel panel-info">
                <!--&lt;!&ndash;文章title部分&ndash;&gt;-->
                <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title text-center">-->
                        <!--带有 title 的面板标题-->
                    <!--</h3>-->
                <!--</div>-->
                <!--文章内容部分-->
                <div class="panel-body">
                    <div style="text-align: center;"><a href="{{ post.get_absolute_url }}"><h4>{{ post.title }}</h4></a></div>
                    <p>
                        {{ post.excerpt }}
                    </p>
                </div>
                <!--文章点赞信息-->
                <div>
                    <img src="{% static 'img/zan.jpg' %}" class="img-responsive img-circle pull-left" alt="Cinque Terre" style="width: 25px;height: 25px;">
                    <span>
                        <a href="#">点赞人dasdad、</a>
                        <a href="#">点赞人dasd、</a>
                        <a href="#">点赞人dasda、</a>
                        <a href="#">点赞人dasdadad、</a>
                    </span>
                </div>
                <!--评论回复内容-->
                <div>
                    <ul class="list-group" style="margin: 0px;">
                        <li class="list-group-item">
                            <div>
                                <!--评论-->
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <a href="#">
                                            <img src="{% static 'img/touxiang1.jpg' %}" class="img-responsive img-circle" alt="Cinque Terre" style="width: 25px;height: 25px;">
                                        </a>
                                    </div>
                                    <div class="pull-left">
                                        <a>昵称：</a>内容
                                    </div>
                                </div>
                                <!--回复-->
                                <div style="padding: 0px 0px 0px 25px;">
                                    <div>
                                        <div>
                                            <div class="clearfix">
                                                <div class="pull-left">
                                                    <a href="#">
                                                        <img src="{% static 'img/touxiang2.jpg' %}" class="img-responsive img-circle" alt="Cinque Terre" style="width: 25px;height: 25px;">
                                                    </a>
                                                </div>
                                                <div class="pull-left">
                                                    <a href="#">昵称</a> 回复<a  href="#">昵称</a>内容
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div>
                                                                <div class="clearfix">
                                    <div class="pull-left">
                                        <a href="#">
                                            <img src="{% static 'img/touxiang1.jpg' %}" class="img-responsive img-circle" alt="Cinque Terre" style="width: 25px;height: 25px;">
                                        </a>
                                    </div>
                                    <div class="pull-left">
                                        <a>昵称：</a>内容
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock main %}