{% extends 'base.html' %}
{% load staticfiles %}
{% load news_tags %}
{% block nav %}
<ul class="nav navbar-nav">
    <li class="active"> <a href="#">校园新闻</a></li>
    <li> <a href="#">校园万能墙</a></li>
    <li> <a href="#">学习交流</a></li>
    <li> <a href="#">毕业校友</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">信息查询<strong class="caret"></strong></a>
        <ul class="dropdown-menu" style="min-width: 104px;">
            <li><a href="#">成绩查询</a></li>
            <li class="divider"></li>
            <li><a href="#">课表查询</a></li>
        </ul>
    </li>
</ul>
{% endblock nav %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-9"  style="background-color: #ecf7ff">
            <h2 style="text-align: center;">{{news.news_title}}</h2>
            <p>{{news.news_content | safe}}</p>
        </div>
        <div class="col-lg-3" style="">
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>文章目录</h4>
                    {{ news.toc|safe }}
                </li>
                <li class="list-group-item">
                    <h4>最新新闻</h4>
                    {% get_recent_news as recent_news_list %}
                    <ul>
                        {% for news in recent_news_list %}
                        <li>
                          <a href="{{ news.get_absolute_url }}">{{ news.news_title }}</a>
                        </li>
                        {% empty %}
                        暂无文章！
                        {% endfor %}
                    </ul>
                </li>
                <li class="list-group-item">
                    <h4>文章标签</h4>
                    {% for tag in tags_list %}
                    <button type="button" class="btn btn-default">{{tag.name}}</button>
                    {% endfor %}
                </li>
            </ul>
        </div>
   </div>

</div>

{% endblock main %}


