<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>注册</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <style>
        .errorlist {
            color: red;
        }
    </style>
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile">
                <h1><a href="#">Django Auth Example</a></h1>
                <h3>注册</h3>
                                <form class="form-horizontal" id="register_form" role="form"  method="post" action="{% url 'users:register' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="registername" class="col-sm-3 control-label">用户名</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="registername" placeholder="请输入用户名" name="username">
                                        </div>
                                        <div col-sm-offset-8 style="font-size: 14px;color: #0e84b5;">提示</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname" class="col-sm-3 control-label">邮箱</label>
                                        <div class="col-sm-6">
                                            <input type="email" class="form-control" id="registeremail" placeholder="请输入您的邮箱" name="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="registerpwd1" class="col-sm-3 control-label">密码</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" id="registerpwd1" placeholder="请输入您的密码" name="password1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="registerpwd2" class="col-sm-3 control-label">确认密码</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" id="registerpwd2" placeholder="请确认您的密码" name="password2">
                                        </div>
                                    </div>
                                    {% for field in form %}
                                        {{ field.errors }}
                                    {% endfor %}

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-7">
                                            <span id="error" style="display: none;color: red;font-size: 16px;">错误提示:</span>
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="submit" class="btn btn-primary" id="register_sub" title="警告！"
                                                    data-container="body" data-toggle="popover" data-placement="left" data-content="你的输入不合法！无法提交！">注册</button>
                                        </div>
                                    </div>
                                </form>
                <div class="flex-center top-gap text-small">
                    <a href="#">已有账号登录</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>